<div class="container mt-3">
  <h2>Welcome to the Home Page of Phonecases</h2>
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Add Phonecases</h5>
          <a routerLink="/addPhonecases" class="btn btn-primary btn-block btn-height">Add Phonecases</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Display Phonecases</h5>
          <a routerLink="/displayPhonecases" class="btn btn-primary btn-block btn-height">Display Phonecases</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">View Programmers</h5>
          <a routerLink="/viewProgrammers" class="btn btn-primary btn-block btn-height">View Programmers</a>
        </div>
      </div>
    </div>
  </div>
</div>


