<div class="container mt-3">
  <h2>Welcome to the Home Page of Programmers</h2>
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Add Programmers</h5>
          <a routerLink="/addProgrammers" class="btn btn-primary btn-block btn-height">Add Programmers</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Display Programmers</h5>
          <a routerLink="/displayProgrammers" class="btn btn-primary btn-block btn-height">Display Programmers</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">View Phonecases</h5>
          <a routerLink="/viewPhonecases" class="btn btn-primary btn-block btn-height">View Phonecases</a>
        </div>
      </div>
    </div>
  </div>
</div>
